@{
    ViewData["Title"] = "Emitir Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<body>
    <div>
        <div class="header">
            <p>Hoy es @DateTime.Now.ToString("dd/MM/yyyy")</p>
            <h2 id ="numero-factura">Factura NRO </h2>
        </div>

        <div class="form-section">
            <div class="row">
                <label for="cliente-values">Cliente:</label>
                <select id="cliente-values">
                </select>

                <label for="porcentaje-cliente">Porcentaje:</label>
                <select id="porcentaje-cliente">
                </select>

                <label for="producto-values">Producto:</label>
                <select id="producto-values">
                </select>
                <label for="cantidad-producto">Cantidad:</label>
                <input type="number" id="cantidad-producto" value="0" min="0">
            </div>

            <div class="row">
                <label for="dueno-cliente">Dueño:</label>
                <input type="text" id="duenio-cliente" readonly>

                <label for="tercero-cliente">Tercero:</label>
                <input type="number" id="tercero-cliente" value="0" readonly>

                <div class="discount-row">
                    <button class="btn-list" id="agregar-a-lista">AGREGAR A LA LISTA</button>
                </div>
            </div>

            <div class="row highlight">
                <div class="price-box">
                    <p>Precio Gasolina</p>
                    <h3 id="precio-gasolina">0</h3>
                    <label for="cantidad-gasolina">Cantidad</label>
                    <input type="number" id="cantidad-gasolina" value="0" min="0">
                </div>
                <div class="price-box">
                    <p>Precio Hielo</p>
                    <h3 id="precio-hielo">0</h3>
                    <label for="cantidad-hielo">Cantidad</label>
                    <input type="number" id="cantidad-hielo" value="0" min="0">
                </div>
                <div class="price-box">
                    <p>Precio Producto</p>
                    <h3 id="precio-producto">0</h3>
                    <p id="nombre-producto"></p>
                    <button class="btn" id="changePrice">Cambio de Precio Temporal</button>
                </div>
                <div class="price-box">
                    <label for="regreso-gasolina">Regreso de Gasolina:</label>
                    <input type="checkbox" id="regreso-gasolina" />
                    <input type="number" id="cantidad-regreso-gasolina" value="0" min="0" disabled>
                </div>
                <div class="price-box">
                    <div>
                        <label for="pago">Pagó con:</label>
                        <input type="number" id="pago" value="0.00" min="0">
                    </div>
                    <div>
                        <label for="vuelto">Vuelto:</label>
                        <input type="number" id="vuelto" value="0.00" min="0" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="totals-section">
                    <div class="totals-row">
                        <label>Subtotal Producto:</label>
                        <input id="subtotal-producto" type="number" value="0.00" readonly>
                    </div>
                    <div class="totals-row">
                        <label>Gas y Hielo:</label>
                        <input id="gas-hielo" type="number" value="0.00" readonly>
                    </div>
                    <div class="totals-row">
                        <label>Subtotal:</label>
                        <input id="primer-subtotal" type="number" value="0.00" readonly>
                    </div>
                    <div class="totals-row">
                        <label>Terceros:</label>
                        <input id="terceros" type="number" value="0" >
                    </div>
                    <div class="totals-row">
                        <label>Peladores:</label>
                        <input id="peladores" type="number" value="0">
                    </div>
                    <div class="totals-row">
                        <label>Subtotal:</label>
                        <input id="segundo-subtotal" type="number" value="0.00" readonly>
                    </div>
                    <div class="totals-row">
                        <label>Monto Abono:</label>
                        <input id="monto-abono" type="number" value="0.00" readonly>
                    </div>
                    <div class="totals-row">
                        <label>TOTAL:</label>
                        <input id="total-general" type="number" value="0.00" readonly>
                    </div>
                    <div class="discount-row">
                        <div class="discount-row">
                            <label>25%  ➔ </label>
                            <p id="decuento-total-25">0.00</p>
                        </div>
                    </div>                    
                </div>
                <div class="button-row">
                    <div class="product-list table-responsive">
                        <h3>Lista de Productos Agregados</h3>
                        <table id ="table_products">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Total</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Más filas aquí -->
                            </tbody>
                        </table>
                        <div class="button-row">
                            <button class="btn-submit" id="btn-emitir">EMITIR FACTURA</button>
                            <button class="btn-cancel" id="btn-cancelar">CANCELAR</button>                            
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    
</div>
</body>
<!-- Archivos CSS y JS -->
<link rel="stylesheet" href="~/css/estilosFactura.css" />
<link rel="stylesheet" href="~/css/site.css" />
<script src="~/js/funcionesFactura.js"></script>
