/* Estilos generales para el formulario de login */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

header h1 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: normal;
}

.login-main {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-btn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
}

    .login-btn:hover {
        background-color: #333;
    }
