
h2 {
    margin-bottom: 10px;
}

.form-galones {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cliente-section select {
    padding: 5px;
}
.form-galones {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.galones-info, .ingreso-galones {
    display: flex;
    max-width: 100%;
    align-items: center;
}

.galones-info-block input {
    /*display: block;*/
    width: 100px;
    text-align: center;
    margin-top: 5px;
}

.negative {
    color: red;
}

.status-indicator {
    display: flex;
    align-items: center;
    gap: 10px;
}

.status-box {
    width: 100%;
    height: 22px;
    align-items: center;
    display: inline-block;
}

.contra {
    background-color: green;
    color:white;
}

.afavor {
    background-color: red;
    color: white;
}

.ingreso-galones {
    display: flex;
    gap: 10px;
    align-items: center;
}

    .ingreso-galones label {
        margin-right: 5px;
    }

    .ingreso-galones input {
        padding: 5px;
        width: 50px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

.btn-voucher, .btn-buscar {
    background-color: #00CBB9;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-buscar:hover, .btn-voucher:hover {
        background-color: #009C8A;
    }

.tables-section {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.pagados, .cargados {
    width: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
}
.table.dataTable.no-footer {
    border-bottom: none !important;
}
    