html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Arial', sans-serif;
}

/* Flexbox para organizar el sidebar y el contenido principal en columnas */
.container {
    display: flex; /* Hace que los hijos se dispongan en filas (columnas) */
    height: 100vh; /* Para que el contenedor ocupe toda la altura de la pantalla */
}

.sidebar {
    width: 15%; /* Sidebar ocupará el 30% del ancho */
    background-color: white;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.main-content {
    width: 85%; /* El contenido principal ocupará el 70% del ancho */
    padding: 15px;
    background-color: #f9f9f9;
    overflow-y: auto; /* Si el contenido es más largo, activará un scroll vertical */
}

/* Estilos del sidebar */
.sidebar-header h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-section h2 {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
}

.menu-section ul {
    list-style: none;
    padding-left: 15px;
    margin: 5px 0;
}

    .menu-section ul li {
        margin-bottom: 10px;
    }

        .menu-section ul li a {
            text-decoration: none;
            font-size: 14px;
            color: black;
            transition: color 0.3s ease;
        }

            .menu-section ul li a:hover {
                color: #00CBB9;
            }

            .menu-section ul li a:active {
                color: #009C8A;
            }

            .menu-section ul li a:visited {
                color: black;
            }

.menu-section ul {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

    .menu-section ul li:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

.menu-section {
    margin-bottom: 5px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
}
    .header h2 {
        margin-top: 0px;
        padding: 5px;
        font-size: 24px;
        border: solid;
    }
