.label {
    width: 80px; /* Ancho fijo para las etiquetas */
    text-align: start; /* Alinear texto a la derecha */
}

.select-fixed {
    width: 200px; /* Ancho fijo para los select */
}

.input-fixed {
    width: 200px; /* Ancho fijo para el input */
}

input, select {
    width: 100%; /* Que se adapten al contenedor */
}
