<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jocsan</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <!-- Menú lateral común -->
        <div class="sidebar">
            <h1>Sistema</h1>
            <nav>
                <ul>
                    <li>
                        <a href="#">Facturas</a>
                        <ul>
                            <li><a href="/Factura/Emitir">Emitir Factura</a></li>
                            <li><a href="/Factura/BuscarFactura">Buscar Factura</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Cuenta</a>
                        <ul>
                            <li><a href="/Cuentas/ConsolidadoCuentas">Cuentas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Créditos</a>
                        <ul>
                            <li><a href="/Credito/Creditos">Añadir Crédito</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Cliente</a>
                        <ul>
                            <li><a href="/Clientes/AñadirCliente">Añadir Cliente</a></li>
                            <li><a href="/Clientes/ListadoClientes">Lista de Clientes</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Vueltos</a></li>
                </ul>
            </nav>
        </div>

        <!-- Sección de contenido dinámico -->
        <div class="main-content">
            @RenderBody()  <!-- Aquí se renderizará el contenido de las vistas -->
        </div>
    </div>

    <script src="~/js/funciones.js"></script>
</body>
</html>
