<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jocsan</title>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <h1>Sistema</h1>
            </div>
            <ul class="menu">
                <li class="menu-section">
                    <h2>FACTURAS</h2>
                    <ul>
                        <li><a href="/Factura/Emitir">EmitirFactura</a></li>
                        <li><a href="/Factura/BuscarFactura">Buscar Factura</a></li>
                    </ul>
                </li>
                <li class="menu-section">
                    <h2>CUENTA</h2>
                    <ul>
                        <li><a href="/Cuentas/ConsolidadoCuentas">Cuentas</a></li>
                    </ul>
                </li>
                <li class="menu-section">
                    <h2>CREDITOS</h2>
                    <ul>
                        <li><a href="/Credito/Creditos">Añadir Credito</a></li>
                    </ul>
                </li>
                <li class="menu-section">
                    <h2>CLIENTE</h2>
                    <ul>
                        <li><a href="/Clientes/AñadirCliente">Añadir Cliente</a></li>
                        <li><a href="/Clientes/ListadoClientes">Lista de Clientes</a></li>
                    </ul>
                </li>
                <li class="menu-section">
                    <h2>GASOLINA</h2>
                    <ul>
                        <li><a href="/Gasolina/Gasolina">Gasolina</a></li>
                    </ul>
                </li>
                <li class="menu-section">
                    <h2>VUELTOS</h2>
                </li>
            </ul>
        </div>
        <!-- Sección de contenido dinámico -->
        <div class="main-content">
            @RenderBody()  <!-- Aquí se renderizará el contenido de las vistas -->
        </div>
    </div>
</body>
</html>
<link rel="stylesheet" href="~/css/site.css" />
